[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-actionscript"]
	path = bundle/vim-actionscript
	url = git@github.com:jeroenbourgois/vim-actionscript.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "bundle/promptline.vim"]
	path = bundle/promptline.vim
	url = https://github.com/edkolev/promptline.vim
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/visual-split.vim"]
	path = bundle/visual-split.vim
	url = git://github.com/wellle/visual-split.vim.git
[submodule "bundle/tmuxline.vim"]
	path = bundle/tmuxline.vim
	url = git@github.com:edkolev/tmuxline.vim.git
[submodule "bundle/vdebug"]
	path = bundle/vdebug
	url = git@github.com:joonty/vdebug.git
[submodule "bundle/vim-sauce"]
	path = bundle/vim-sauce
	url = git@github.com:joonty/vim-sauce.git
[submodule "bundle/jshint.vim"]
	path = bundle/jshint.vim
	url = git@github.com:walm/jshint.vim.git
[submodule "bundle/vim-jira-complete"]
	path = bundle/vim-jira-complete
	url = git://github.com/mnpk/vim-jira-complete.git
[submodule "bundle/vim-tmux-focus-events"]
	path = bundle/vim-tmux-focus-events
	url = git://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/vim-jsbeautify"]
	path = bundle/vim-jsbeautify
	url = git@github.com:maksimr/vim-jsbeautify.git
